* {
    margin: 0; 
    padding: 0; 
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
}
body {overflow-y:hidden; overflow-x: hidden;}

#bg_block {
    position: absolute; 
    top:0; left:0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 99999;
}

#canvas { z-index: 1; }

.index_title {
    position: relative;
    top:37%;
    left: 0;
    width: 700px;
    background-color: rgba(80, 80, 80, 0.3);
    border: 1px solid rgb(161, 161, 161);
    border-radius: 4px;
    margin: 0 auto;
    color:white;
    padding: 5px;
    box-shadow: #677DFF 1px 1px 10px;
    transition: .3s;
    transform: scaleY(1);
    z-index: 9;
}

.index_title h1 {
    font-family: 'Raleway', sans-serif;
    color:#677DFF; 
    font-size: 64px; 
    text-align: center; 
    padding-top: 14px; 
    padding-bottom: 10px;
}
ul.list_tech{
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    text-align: center;
    list-style: disc;   

    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.star_but {
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
    color:#fff;
    padding: 5px 40px;
    font-size: 20px;
    margin: 30px auto;
    display: block;
    transition: .3s;
    cursor: pointer;
}

.star_but:hover {
    background-color: rgba(141, 141, 141, 0.425);
}

#wrapper {
    transition: .5s;
    position: absolute;
    top: 5%;
    bottom: 3%;
    display: none;
    height: auto;
    width: 80%;
    background-color: #fff; 
    z-index: 99999; 
    box-shadow: #677DFF -3px 1px 10px 3px;
    border: 1px solid #677DFF;
}

.wrapper { width: 100%; min-height: 5px; }

hr {width: 100%;}

.head_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    width: 100%;
    height: auto;
}

.back_hide {
    width: 50px; 
    height: 50px; 
    text-align: center; 
    line-height: 50px; 
    color:#bdbdbd; 
    border-right: 1px solid #646464;
    cursor:pointer;
    font-size: 24px;
}

.titile_wrapper { 
    height: 50px; 
    padding-left: 20px; 
    line-height: 50px;
    padding-right: 0%; 
    color:#bdbdbd;
}

.wrapper_block { overflow-Y: auto; width: 100%; height: 100%; }

.context_wraper {
    height: 100%;
    margin-left: 15px;
}

.product {
    width: 90%;
    margin: 50px auto;
    list-style: none;
    border:1px solid #646464;
}

.product li {
    background-color: #bdbdbd;
    min-height: 40px;
    line-height: 40px;
    border-bottom:1px solid #646464;
}
.product li:last-child {border-bottom:0;}

.discription_product {display: none; background-color: #fff; padding-left: 20px;}

.name_product {cursor:  pointer; margin-left: 20px;}

.list_favorit_prodect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    flex-wrap:wrap;
    width: 100%;
    height: auto;
}

.item_favorit_prodect {
    padding-top: 10px;
    width: 340px;
    height: 400px;
    text-align: center;
    border: 1px solid #bdbdbd;
    background-color: #fff;
}
